body {
  box-sizing: border-box;
}

.search-form {
  display: flex;

  background-color: #f2f2f2;
  height: 50px;
  justify-content: center;
  align-items: center;
}

input {
  // height: 30px;
  // border-radius: 3px;
  // padding: 10px;
  margin-right: 5px;
  font-size: 17px;
  font-family: 'Source Sans Pro', sans-serif;
  border: none;
  border-radius: 5px;
  display: inline-block;
  padding: 6px 18px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #04aa6d;
  color: #ffffff;
}

input::placeholder {
  font-size: small;
  color: #f2f2f2;
}

button {
  height: 30px;
  color: #fff;

  font-size: 17px;
  font-family: 'Source Sans Pro', sans-serif;
  border: none;
  border-radius: 5px;
  padding: 6px 18px;
  vertical-align: middle;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #086e8d;
  color: #ffffff;
}

.load-more {
  display: none;
}
